#==========APP==========
APP_PORT=your_port
API_KEY=api_key
SYSTEM_SECRET=your_system_secret
CORS_ALLOWED_ORIGINS=https://your-frontend.com,https://admin.your-frontend.com

#==========SQL==========
POSTGRES_HOST=localhost
POSTGRES_PORT=your_port
POSTGRES_USER=your_user_db
POSTGRES_PASSWORD=your_password_db
POSTGRES_DB=your_db_name
POSTGRES_TIMEZONE=Asia/Ho_Chi_Minh
DATABASE_URL=postgres://your_user_db:your_password_db@localhost:5432/your_db_name?sslmode=disable&timezone=Asia/Ho_Chi_Minh

#==========NO SQL==========
MONGO_INITDB_ROOT_USERNAME=your_user_db
MONGO_INITDB_ROOT_PASSWORD=your_password_db
MONGO_URI=mongodb://your_user_db:your_password_db@localhost:27017/?authSource=admin
MONGO_DB=emc_lb
MONGO_INITDB_ROOT_URL=your_url

#==========REDIS==========
REDIS_HOST=localhost
REDIS_PORT=your_post
REDIS_PASSWORD=your_redis_password

#==========LOCALSTACK S3==========
LOCALSTACK_ENDPOINT=http://localhost:4566
AWS_REGION=us-east-1
AWS_ACCESS_KEY_ID=test
AWS_SECRET_ACCESS_KEY=test
S3_AVATAR_BUCKET=emc-lb-avatars

#==========JWT==========
ACCESS_TOKEN_SECRET=your_access_secret
REFRESH_TOKEN_SECRET=your_refresh_secret
ACCESS_TOKEN_TTL=15m
REFRESH_TOKEN_TTL=168h

#==========SMTP MAIL==========
SMTP_HOST=smtp.your_provider.com
SMTP_PORT=587
SMTP_USERNAME=your_smtp_username
SMTP_PASSWORD=your_smtp_password
SMTP_FROM_EMAIL=no-reply@yourdomain.com
SMTP_FROM_NAME=EMC LB
EMAIL_OTP_TTL=10m

#=====SEPAY PAYMENT GATEWAY=====
SEPAY_ENV=sandbox
SEPAY_MERCHANT_ID=your_sepay_merchant_id
SEPAY_SECRET_KEY=your_sepay_secret_key
SEPAY_SUCCESS_URL=https://your-domain.com/payment/success
SEPAY_ERROR_URL=https://your-domain.com/payment/error
SEPAY_CANCEL_URL=https://your-domain.com/payment/cancel